.container {
  --module-z-arrow: calc(var(--ye-z-base) + 1);

  position: relative;

  & :global .swiper-slide {
    align-self: stretch;
    width: auto;
    height: auto;
    background-color: transparent;
  }

  & :global .swiper-button-next {
    right: 0.5rem;

    &::after {
      position: relative;
      right: -1px;
      font-size: var(--ye-font-size-large);
    }
  }

  & :global .swiper-button-prev {
    left: 0.5rem;

    &::after {
      position: relative;
      left: -1px;
      font-size: var(--ye-font-size-large);
    }
  }

  & :global .swiper-button-next,
  & :global .swiper-button-prev {
    --module-swiper-navigation-size: 3rem;

    width: var(--module-swiper-navigation-size);
    background-color: var(--ye-color-background);
    border-radius: var(--ye-radius-circle);
    box-shadow: var(--ye-shadow-pressable);
    opacity: 0.75;

    &:hover,
    &:focus {
      outline: none;
      box-shadow: var(--ye-shadow-pressed);
      opacity: 1;
    }

    &:global(.swiper-button-disabled) {
      display: none;
    }
  }

  & :global .swiper-container-3d {
    &:global(.swiper-slide-shadow-left, .swiper-slide-shadow-right) {
      display: none;
    }
  }
}

.title {
  margin: 0;
  font-weight: var(--ye-font-weight-semibold);
  font-size: var(--ye-font-size-huge);
}

.subtitle {
  margin: var(--ye-rem-base) 0 0;
  font-weight: var(--ye-font-weight-thin);
  font-size: var(--ye-font-size-normal);
}

.swiper {
  height: 100%;
  overflow: visible;

  .title + & {
    margin-top: var(--ye-em-base);
  }
}

.top {
  display: flex;
  justify-content: space-between;
  margin: 0 0 var(--ye-em-base);
}

.top-left {
  flex: 1;
}

.bottom {
  margin-top: var(--ye-spacing-rem-normal);
  text-align: center;
  opacity: 0.25;
}

.has-separator {
  position: relative;
  margin-bottom: var(--ye-em-base);
  padding-bottom: var(--ye-em-base);

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--ye-color-background-inverse-lighter);
    content: "";
  }
}

.fade-left,
.fade-right {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: var(--module-z-arrow);
}

.fade-left {
  left: 0;
  background-image: linear-gradient(
    90deg,
    rgb(255 255 255 / 0.99) 0%,
    rgb(255 255 255 / 0.5) 25%,
    rgb(255 255 255 / 0) 100%
  );
}

.fade-right {
  right: 0;
  background-image: linear-gradient(
    -90deg,
    rgb(255 255 255 / 0.99) 0%,
    rgb(255 255 255 / 0.5) 25%,
    rgb(255 255 255 / 0) 100%
  );
}

.has-pagination {
  & :global .swiper {
    padding-bottom: var(--ye-spacing-rem-xlarge);
  }
}
