.root {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.input {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}

.label {
  cursor: pointer;
  margin-bottom: 0;
}

.hasError .input {
  outline: 2px solid var(--ye-color-error, red);
}

.sizeSmall .input {
  width: 0.875rem;
  height: 0.875rem;
}

.sizeLarge .input {
  width: 1.25rem;
  height: 1.25rem;
}
