.root {
  opacity: 50%;
  transition-timing-function: ease-in-out;
  transition-duration: 600ms;
  transition-property: opacity, transform;
  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }

  &.in-view {
    opacity: 100%;
  }
}

.out-bottom {
  transform: translateY(0.75rem);

  &.in-view {
    transform: translateY(0);
  }
}

.out-top {
  transform: translateY(-0.75rem);

  &.in-view {
    transform: translateY(0);
  }
}
