@layer ye-components {
  .container {
    display: inline-flex;
    align-items: center;

    padding: var(--ye-spacing-em-tiny) var(--ye-spacing-em-xsmall);
    border-radius: var(--ye-radius-xlarge);

    background-color: var(--ye-color-dark-10);
  }

  .is-after {
    margin-right: 0;
    margin-left: var(--ye-spacing-em-xsmall);
  }
}
