.container {
  position: relative;

  & :global .swiper-slide {
    align-self: stretch;
    width: auto;
    height: auto;
    background-color: transparent;
  }

  & :global .swiper-button-next {
    right: 0.5rem;

    &::after {
      right: -1px;
    }
  }

  & :global .swiper-button-prev {
    left: 0.5rem;

    &::after {
      left: -1px;
    }
  }

  & :global .swiper-button-next,
  & :global .swiper-button-prev {
    width: 3rem;
    height: 3rem;
    background-color: var(--color-background);
    border-radius: 100%;
    box-shadow: var(--shadow-pressable);
    opacity: 75%;

    &:hover,
    &:focus {
      outline: none;
      box-shadow: var(--shadow-pressed);
      opacity: 100%;
    }

    &::after {
      position: relative;
      font-size: var(--fnot-size-large);
    }

    &.swiper-button-disabled {
      display: none;
    }
  }

  & :global .swiper-container-3d {
    & .swiper-slide-shadow-left,
    & .swiper-slide-shadow-right {
      display: none;
    }
  }
}


.title {
  margin: 0;
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-huge);
}

.subtitle {
  margin: var(--spacing-em-xtiny) 0 0;
  font-weight: var(--font-weight-thin);
  font-size: var(--font-size-normal);
}

.swiper {
  overflow: visible;

  @nest .title + & {
    margin-top: var(--em-base);
  }
}

.top {
  display: flex;
  justify-content: space-between;
  margin: 0 0 var(--em-base);
}

.top-left {
  flex: 1;
}

.bottom {
  margin-top: 1em;
  text-align: center;
  opacity: 25%;
}

.has-separator {
  position: relative;
  margin-bottom: var(--em-base);
  padding-bottom: var(--em-base);

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-black-10);
    content: "";
  }
}

.fade-left,
.fade-right {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
}

.fade-left {
  left: 0;
  background-image: linear-gradient(
    90deg,
    rgb(255 255 255 / 99%) 0%,
    rgb(255 255 255 / 50%) 25%,
    rgb(255 255 255 / 0%) 100%
  );
}

.fade-right {
  right: 0;
  background-image: linear-gradient(
    -90deg,
    rgb(255 255 255 / 99%) 0%,
    rgb(255 255 255 / 50%) 25%,
    rgb(255 255 255 / 0%) 100%
  );
}
