.modal {
  position: relative;
  margin: auto;
  padding: var(--ye-spacing-rem-normal);
  overflow: hidden;
  background: var(--ye-color-white);
  border-radius: var(--ye-radius-normal);
}

.overlay {
  z-index: var(--z-index-modal);
  background: rgb(25 25 25 / 0.8);
  backdrop-filter: blur(12px);
}
