.dialog {
  position: relative;
  max-width: calc(100vw - var(--ye-spacing-rem-normal) * 2);
  margin: auto;
  padding: var(--ye-spacing-rem-normal);
  overflow: hidden;
  background: var(--ye-color-background);
  border: none;
  border-radius: var(--ye-radius-normal);


  &::backdrop {
    z-index: var(--ye-z-modal);
    display: grid;
    place-items: center;
    background-color: rgb(25 25 25 / 0.8);
    backdrop-filter: blur(12px);
  }
}
